<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <!-- vue.js -->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>

        <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.3.0/dist/confetti.browser.min.js"></script>

        <link rel="stylesheet" href="{% static "game/style.css" %}" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> 
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.4/gsap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/tween.js"></script>
        <script src="https://cdn.rawgit.com/nnattawat/flip/master/dist/jquery.flip.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        <!-- Load required Bootstrap and BootstrapVue CSS -->
        <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
        <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>

        <!-- Load polyfills to support older browsers -->
        <script src="//polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver" crossorigin="anonymous"></script>

        <!-- Load Vue followed by BootstrapVue -->
        <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>

        <!-- Progressive image rendering -->
        <script src="https://cdn.jsdelivr.net/npm/progressively/dist/progressively.min.js"></script>
    <style>
        html, body {
            background-color: #422622;
            background-image: url("{% static "game/img/wooden-bg.jpeg" %}") !important;
        }

        .ui-green {
            background-color: #075023;
            background-image: url("{% static "game/img/green.jpg" %}");
            background-size: cover;
        }

        @media only screen 
        and (min-device-width: 375px) 
        and (max-device-width: 667px) 
        and (-webkit-min-device-pixel-ratio: 2)
        and (orientation: portrait),
        only screen 
        and (min-device-width: 320px) 
        and (max-device-width: 568px)
        and (-webkit-min-device-pixel-ratio: 2)
        and (orientation: portrait),
        screen 
        and (device-width: 280px) 
        and (device-height: 653px) 
        and (-webkit-device-pixel-ratio: 3) 
        and (orientation: portrait) {
            .player_placeholder {
        {% if number_of_players == 6 %}
                width: 90px;
        {% else %}
                width: 100px;
        {% endif %}
                height: auto;
            }
        {% if number_of_players == 6 %}
            .player_name {
                white-space: nowrap;
                text-overflow: ellipsis;
                width: 100px;
                display: block;
                overflow: hidden;
            }
        {% endif %}
        }
    </style>
    <link rel="shortcut icon" href="{% static 'game/img/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'game/img/favicon.ico' %}" type="image/x-icon">
    <title>Dubito!</title>
    </head>
    <body>
        <script>
            const static_path = "{% static "game" %}/"
            const static_path_to_card_img = static_path + "img/cards/"
            const np = {{ number_of_players }}
        </script>
        <div style="height:100%" id="app">
            <div class="container-fluid h-100">
                <div
                v-if="this.won_by != ''"
                id="overlay"
                :class="{displayed: this.won_by != ''}"
                >
                    <div id="overlayed_text"><h1 class="backgrounded-text">🎉 ${ this.won_by } ha vinto! 🎉</h1></div>
                </div>
                <div style="position: relative" class="row h-20 h-18-tablet ui-green bottom-bordered side-bordered padded">
                    <div style="position: relative" class="col" v-for="player in state.other_players_data" :id=player.number>
                        <div style="display:inline-block">
                            <span>
                                <p class="no_margin player_name" style="text-align:left !important; padding-left: 3px">
                                    <span v-if=player.is_online>
                                        <img class="status_icon" src="{% static "game/img/icons/online-min.png" %}" />
                                    </span> 
                                    <span v-else>
                                        <img class="status_icon" src="{% static "game/img/icons/offline-min.png" %}" />
                                    </span>
                                    ${ player.name } 
                                </p>
                                <img
                                :class="{ active_turn: player.number == false && state.current_turn, inactive_turn: true || player.number != state.current_turn }"
                                :id="`${player.number}_popover`"
                                :key=player.number
                                class="player_placeholder"
                                :src="player.number == state.current_turn ? '{% static 'game' %}/img/cards/hand-cards-ellipsis8.gif' : '{% static 'game' %}/img/cards/handcards-min.png'" />
                                <b-popover 
                                :target="`${player.number}_popover`"
                                triggers="manual"
                                :placement="'bottom'"
                                :delay="{show: 0, hide: 4000}"
                                :no-fade="true"
                                :ref="`${player.number}_popover_ref`"
                                >
                                        <span class="player_text" v-html="texts[player.number]">${ texts[player.number] }</span>
                                </b-popover>
                            </span>
                            <span class="parenthesized"><animated-integer v-bind:value="player.number_of_cards"></animated-integer></span>
                        </div>
                    </div>
                    <!-- <p
                    style="padding-top: 15px; margin-top: 5px; position: absolute; right: 1%"
                    class="backgrounded-text"
                    v-if="state.current_turn == this.state.my_player_number && !state.number_of_stacked_cards && claimed != ''">
                        Annuncerai: <img :src="get_card_icon_url(claimed)" class="card_icon" /> 
                        <br /><button
                        style="font-size:0.9em;margin-top:15px;"
                        class="btn btn-dark"
                        @click="claimed = ''">
                            Cambia
                        </button>
                    </p> -->
                </div>
                <div class="row relativeOnDesktop h-25 h-27-tablet padded overflow-auto">
                        <div class="col-4 col-2-landscape col-xl-2 order-1">
                            <div style="display:inline-block">
                                <p
                                :class="{'your_turn': state.current_turn == this.state.my_player_number}"
                                class="backgrounded-text"
                                style="white-space: nowrap; text-overflow: ellipsis;">
                                    <span id="turn_elem">${ current_turn_name }</span>
                                </p>
                                <p class="backgrounded-text">Carta attuale: <span id="curr_card"><img :src="get_card_icon_url(state.current_card)" class="card_icon" /></span></p>
                            </div>
                        </div>
                        <div class="reaction_box col-4 col-3-landscape col-xl-2 order-2">
                            <span style="padding-left:5px!important;padding-right:5px!important" class="reaction_title">Reazioni:</span>
                            <table>
                                <tbody>
                                <tr>
                                    <td>
                                        <button :disabled="!reactions_enabled" @click="send_reaction('laughing')" class="btn btn-dark btn-emoji">
                                            <img class="reaction_emoji" src="{% static "game/img/emojis/laughing.png" %}" />
                                        </button>
                                    </td> 
                                    <td>
                                        <button :disabled="!reactions_enabled" @click="send_reaction('drunk')" class="btn btn-dark btn-emoji">
                                            <img class="reaction_emoji" src="{% static "game/img/emojis/drunk.png" %}" />
                                        </button>
                                    </td> 
                                    <td>
                                        <button :disabled="!reactions_enabled" @click="send_reaction('smirk')" class="btn btn-dark btn-emoji">
                                            <img class="reaction_emoji" src="{% static "game/img/emojis/smirk.png" %}" />
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <button :disabled="!reactions_enabled" @click="send_reaction('thinking')" class="btn btn-dark btn-emoji">
                                            <img class="reaction_emoji" src="{% static "game/img/emojis/thinking.png" %}" />
                                        </button>
                                    </td>
                                    <td>
                                        <button :disabled="!reactions_enabled" @click="send_reaction('angry')" class="btn btn-dark btn-emoji">
                                            <img class="reaction_emoji" src="{% static "game/img/emojis/angry.png" %}" />
                                        </button>
                                    </td>
                                    <td>
                                        <button :disabled="!reactions_enabled" @click="send_reaction('crying')" class="btn btn-dark btn-emoji">
                                            <img class="reaction_emoji" src="{% static "game/img/emojis/crying.png" %}" />
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                            </table> 
                        </div>
                        <div class="col-10 col-xl-3 col-3-landscape order-4 order-xl-3 sm-translateUp">
                            <span id="stack_number" class="no_margin parenthesized" id="stack_number"><animated-integer v-bind:value="state.number_of_stacked_cards"></animated-integer></span><br />
                            <span style="display:block!important" id="hidden_card"><img class="card_placeholder" src="{% static "game/img/cards/red_back-min.png" %}" /></span>
                            <span id="card_stack" class="slide_to_right"><img class="card_placeholder" src="{% static "game/img/cards/red_back-min.png" %}" /></span>
                            <div id="stacked_card"> 
                            <div class="front"> 
                                <img id="stacked_front" class="card_placeholder" src="{% static "game/img/cards/red_back-min.png" %}" />
                            </div> 
                            <div class="back">
                                <img id="stacked_back" class="card_placeholder"  src="{% static "game/img/cards/red_back-min.png" %}" />
                            </div> 
                            </div>
                            <div id="hidden_uncovered_card_div">
                                <img id="hidden_uncovered_card" class="card_placeholder" src="{% static "game/img/cards/red_back-min.png" %}" />
                            </div>
                        </div>
                        <div class="col-4 col-xl-3 col-3-landscape order-3 order-xl-12">
                            <button class="btn btn-lg btn-dark action_button" id="doubt" @click="doubt()" :disabled="playing_animation">Dubito!</button>
                            <button 
                                class="btn btn-lg btn-dark action_button"
                                id="place"
                                :disabled="state.current_turn != this.state.my_player_number || !number_of_selected_cards || playing_animation"
                                @click="state.number_of_stacked_cards ? place_cards((number_of_selected_cards > 11)) : start_round()"
                            >
                                Metti giù <span class="parenthesized" id="n_selected_cards_mobile">${ number_of_selected_cards }</span>
                            </button>
                            <p class="backgrounded-text" id="selected_cards_text" >Hai selezionato <strong><span id="n_selected_cards">${ number_of_selected_cards }</span></strong> carte</p><br />
                        </div>
                        <div 
                        class="col-4 order-xl-11 hiddenOnMobile col-xl-2"
                        v-bind:class="{mobileNonInvasivePopup: state.current_turn == this.state.my_player_number && !state.number_of_stacked_cards}"
                        >
                            <p
                            style="padding-top: 15px"
                            class="backgrounded-text"
                            v-if="state.current_turn == this.state.my_player_number && !state.number_of_stacked_cards && claimed != ''">
                                Annuncerai: <img :src="get_card_icon_url(claimed)" class="card_icon" /> 
                                <br /><button
                                style="font-size:0.9em;margin-top:15px;"
                                class="btn btn-dark"
                                @click="claimed = ''">
                                    Cambia
                                </button>
                            </p>
                            <div 
                            v-bind:class="{reminder: state.current_turn == this.state.my_player_number && !state.number_of_stacked_cards && claimed == ''}" 
                            id="claimed_choice">
                                <div id="claimed_card_list">
                                    <h5>Quale carta annunci?</h5><hr />
                                    <input v-model="claimed" :disabled="this.state.current_card == '1'" id="c_1" type="radio" name="card-choice" value="1"> <label for="c_1">Asso</label><br />
                                    <input v-model="claimed" :disabled="this.state.current_card == '2'" id="c_2" type="radio" name="card-choice" value="2"> <label for="c_2">2</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <input v-model="claimed" :disabled="this.state.current_card == '3'" id="c_3" type="radio" name="card-choice" value="3"> <label for="c_3">3</label><br />
                                    <input v-model="claimed" :disabled="this.state.current_card == '4'" id="c_4" type="radio" name="card-choice" value="4"> <label for="c_4">4</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <input v-model="claimed" :disabled="this.state.current_card == '5'" id="c_5" type="radio" name="card-choice" value="5"> <label for="c_5">5</label><br />
                                    <input v-model="claimed" :disabled="this.state.current_card == '6'" id="c_6" type="radio" name="card-choice" value="6"> <label for="c_6">6</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <input v-model="claimed" :disabled="this.state.current_card == '7'" id="c_7" type="radio" name="card-choice" value="7"> <label for="c_7">7</label><br />
                                    <input v-model="claimed" :disabled="this.state.current_card == '8'" id="c_8" type="radio" name="card-choice" value="8"> <label for="c_8">8</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <input v-model="claimed" :disabled="this.state.current_card == '9'" id="c_9" type="radio" name="card-choice" value="9"> <label for="c_9">9</label><br />
                                    <input v-model="claimed" :disabled="this.state.current_card == '10'" id="c_10" type="radio" name="card-choice" value="10"> <label for="c_10">10</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <input v-model="claimed" :disabled="this.state.current_card == '11'" id="c_11" type="radio" name="card-choice" value="11"> <label for="c_11">J</label><br />
                                    <input v-model="claimed" :disabled="this.state.current_card == '12'" id="c_12" type="radio" name="card-choice" value="12"> <label for="c_12">Q</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <input v-model="claimed" :disabled="this.state.current_card == '13'" id="c_13" type="radio" name="card-choice" value="13"> <label for="c_13">K</label>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="row h-55 top-bordered ui-green side-bordered padded">
                    <p id="my_cards_text">Le mie carte <span class="parenthesized" id="my_card_count"><animated-integer v-bind:value="state.my_cards.length"></animated-integer></span></p>
                    <div id="my_cards">
                        <img
                        :key="`${card.card}${card.deck}`"
                        :class="{ selected: selected_cards.find(c => c.card === card.card && c.deck === card.deck) }"
                        class="progressive--not-loaded selectable card_in_hand progressive__img"
                        v-for="card in fixed_cards"
                        :src="!progressively_fired ? '{% static 'game' %}/img/cards/red_back-blurred-min.png' : get_card_url(card.card)"
                        :data-progressive='get_card_url(card.card)'
                        @click="toggle_card_selection(card)"
                        />
                    </div>
                </div>
            </div>
            <div id="stack_modal" class="modal" tabindex="-1" role="dialog">
                <div class="modal-dialog" style="max-width:800px" role="document">
                  <div class="modal-content stack-modal-content">
                    <div class="modal-header" style="border:0!important;background-color:transparent">
                        <h5 id="player_doubted_title" class="modal-title"></h5>
                    </div>
                    <div id="doubt_outcome">
                        <h1 class="ml1" class="modal-title" v-html="outcome_text">
                            ${ outcome_text }
                        </h1>
                        <h2 class="modal-title text-center" v-html="removed_cards_text">
                            ${ removed_cards_text }
                        </h2>
                    </div>
                    <div style="text-align:center" id="stack_modal_body" class="modal-body">
                        <div v-for="card in uncovered_stack" class="card-grid flip_card"> 
                            <div class="front"> 
                                <img class='card_in_hand' src="{% static "game/img/cards/red_back-min.png" %}" />
                            </div> 
                            <div class="back">
                                <img class='card_in_hand' :src=get_card_url(card) />
                            </div> 
                        </div> 
                    </div>
                  </div>
                </div>
            </div>
            <div id="card_choice_modal" class="modal" tabindex="-1" role="dialog">
                <div class="modal-dialog" style="max-width:1000px" role="document">
                  <div class="modal-content stack-modal-content">
                    <div class="modal-header text-center" style="border:0!important;background-color:transparent">
                        <h1 class="ml1"class="modal-title">
                            <span class="text-wrapper">
                              <span class="line line1"></span>
                              <span class="letters">Tocca a te!<br /> Scegli la carta da annunciare</span>
                              <span class="line line2"></span>
                            </span>
                        </h1>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        </div>

        <script>
            // progressive image rendering
            //window.onload = progressively.init

            document.oncontextmenu = new Function("return false;")

            const game_id = {{ game_id }}
            const flipped_sound = new Audio(static_path + "sound/flipped.mp3")
            const placed_sound = new Audio(static_path + "sound/placed.mp3")
            const success_sound = new Audio(static_path + "sound/success.mp3")
            const failure_sound = new Audio(static_path + "sound/failure.mp3")
            const surprise_sound = new Audio(static_path + "sound/surprise.mp3")
            const clapping_sound = new Audio(static_path + "sound/clapping.mp3")

            function isMobile() {
                return (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent))
            }

            // Media query breakpoints
            const iPhone678Landscape = window.matchMedia("screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape)")
            const iPhone678Portrait = window.matchMedia("screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait)")
            const iPadPortrait = window.matchMedia("screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2)")
            const iPhone45Portrait = window.matchMedia("screen and (min-device-width: 320px) and (max-device-width: 568px)and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait)")
            
            // Animation constants for different media
            const stackPositionDesktop = "35%"
            const hiddenCardPositionDesktop = "72.5%"
            const hiddenUncoveredCardPositionDesktop = "0"
            const stackPositioniPhone678Portrait = "35%"
            const hiddenCardPositioniPhone678Portrait = "55%"
            const hiddenUncoveredCardPositioniPhone678Portrait = "105px"
            const stackPositioniPhone678Landscape = "35%"
            const hiddenCardPositioniPhone678Landscape = "80%"
            const hiddenUncoveredCardPositioniPhone678Landscape = "0"

            // Detect if user is using a mobile browser to set appropriate animation constants

            // const stackPosition = isMobile() ? "35%" : "35%"
            // const hiddenCardPosition = isMobile() ? "55%" : "72.5%"
            // const hiddenUncoveredCardPosition = isMobile() ? "105px" : "0"

            let stackPosition, hiddenCardPosition, hiddenUncoveredCardPosition

            function assignAnimationConstants() {
                if(iPhone45Portrait.matches || iPhone678Portrait.matches || iPadPortrait.matches) {
                    // console.log("iphone or ipad portrait")
                    stackPosition = stackPositioniPhone678Portrait
                    hiddenCardPosition = hiddenCardPositioniPhone678Portrait
                    hiddenUncoveredCardPosition = hiddenUncoveredCardPositioniPhone678Portrait
                } else if(iPhone678Landscape.matches) {
                    // console.log("iphone landscape")
                    stackPosition = stackPositioniPhone678Landscape
                    hiddenCardPosition = hiddenCardPositioniPhone678Landscape
                    hiddenUncoveredCardPosition = hiddenUncoveredCardPositioniPhone678Landscape
                } else {
                    // console.log("desktop")
                    stackPosition = stackPositionDesktop
                    hiddenCardPosition = hiddenCardPositionDesktop
                    hiddenUncoveredCardPosition = hiddenUncoveredCardPositionDesktop
                }
            }

            iPhone678Landscape.addListener(assignAnimationConstants)
            iPhone678Portrait.addListener(assignAnimationConstants)
            iPadPortrait.addListener(assignAnimationConstants)
            iPhone45Portrait.addListener(assignAnimationConstants)

            assignAnimationConstants()
            // Vue.prototype.$my_player_number = {{ player_num }}
        </script>
        <script src="{% static "game/newui.js" %}"></script>
        <script src="{% static "game/vuefrontend.js" %}"></script>
    </body>
</html>
