<!DOCTYPE html>
<html lang="en">
  <head>
      {% load static %}
      <meta id="viewport" name="viewport" content ="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />

      <!-- Icons -->
      <script src="https://kit.fontawesome.com/c4a4310769.js" crossorigin="anonymous"></script>

      <!-- CSS only -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

      <!-- JS, Popper.js, and jQuery -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

      <!-- <script src="https://cdn.rawgit.com/nnattawat/flip/master/dist/jquery.flip.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script> -->

      <!-- axios -->
      <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

      <!-- Static resources -->
      <script src="{% static 'game/home.js' %}"></script>
      <link rel="stylesheet" href="{% static 'game/page_style.css' %}" />

      <!-- Bootstrap pin input -->
      <script src="https://cdn.jsdelivr.net/npm/sf-bootstrap-pincode-input@1.5.0/js/bootstrap-pincode-input.min.js"></script>

      <title>Dubito!</title>

      <style>
          .modal-content {
              color: black;
          }
      </style>
  </head>
  <body>
    <div class="container-fluid h-100 text-center" id="main_container">
        <div class="row" id="row1">
            <h1 style="text-align:center; width: 100%; margin-top: 20px" class="fancy-writing">Dubito!</h1>
        </div>
        <div class="row justify-content-center" id="row2">
            <div class="col-12 col-lg-5">
                <button type="button" class="btn btn-red btn-bordered btn-90-width btn-vertically-padded" data-toggle="modal" data-target="#createModal">
                    <h3>
                        <i class="fas fa-plus-circle"></i> &nbsp;Crea partita
                    </h3>
                </button>
            </div>
            <div class="col-12 col-lg-5">
                <button type="button" class="btn btn-red btn-bordered btn-90-width btn-vertically-padded" data-toggle="modal" data-target="#joinModal">
                    <h3>
                        <i class="fas fa-user-plus"></i> &nbsp;Unisciti a una partita
                    </h3>
                </button> 
            </div>
        </div>
        <div class="row" id="row3">
          <div style="margin-bottom: 10px" class="col align-self-start">
            <button type="button" class="btn btn-red btn-bordered" data-toggle="modal" data-target="#instructionsModal">
              <i class="fas fa-question-circle"></i> &nbsp;Come si gioca?
            </button>
          </div>
          <div class="col-8 align-self-center">

          </div>
          <div style="margin-bottom: 10px" class="col align-self-end">
            <button type="button" class="btn btn-red btn-bordered" data-toggle="modal" data-target="#feedbackModal">
              <i class="fas fa-comments"></i> &nbsp;Contattaci
            </button>
          </div>
        </div>
    </div>

    <!-- Join modal -->
    <div class="modal" id="createModal" tabindex="-1" role="dialog" aria-labelledby="joinModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered to modal-lg role="document">
        <div class="modal-content">
          <div class="modal-header modal-padded">
            <h1 class="modal-title" id="joinModalLabel">Crea partita</h1>
          </div>
          <div class="modal-body modal-padded text-center">
            <div id="phase1">
              <form action="/game/create" method="post">
                  {% csrf_token %}
                  <!--{{ form.as_p }}-->
                  <h2>Numero di giocatori</h2>
                  <p>
                    {{ create_form.number_of_players }}
                  </p>
                  <h2>Scegli un nome</h2>
                  <p>
                    {{ create_form.creator_name }}
                  </p>
                  <input onclick="createSubmit(event)" class="btn btn-red" type="submit" value="Crea partita">
              </form>
            </div>
            <div id="phase2">
              <h3>Partita creata con successo! Il codice partita è</h3>
              <span id="gamecode" class="big"></span>
              <h3>Comunicalo agli altri giocatori per iniziare a giocare.</h3>
              <p>La partita inizierà non appena tutti i giocatori saranno entrati. Attendiamo<span id="animatedEllipsis">&nbsp;&nbsp;&nbsp;</span></p>
              <div>
                <p>Giocatori entrati <span id="user_count">1</span>/<span id="total_users"></span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Create modal -->
    <div class="modal" id="joinModal" tabindex="-1" role="dialog" aria-labelledby="joinModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered to modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header modal-padded">
            <h1 class="modal-title" id="joinModalLabel">Unisciti a una partita</h1>
            <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button> -->
          </div>
          <div class="modal-body modal-padded text-center">
            <form action="/game/join_game" method="post">
                {% csrf_token %}
                <!--{{ join_form.as_p }}-->
                <h2>Codice partita</h2>
                <p>
                  {{ join_form.code }}
                </p>
                <h2>Scegli un nome</h2>
                <p>
                  {{ join_form.name }}
                </p>
                <input onclick="joinSubmit(event)" class="btn btn-red" type="submit" value="Entra">
            </form>
          </div>
        </div>
      </div>
    </div>

     <!-- Instructions modal -->
     <div class="modal" id="instructionsModal" tabindex="-1" role="dialog" aria-labelledby="joinModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered to modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header modal-padded">
            <h1 class="modal-title" id="joinModalLabel">Come si gioca?</h1>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body modal-padded">
            <div class="section">
              <div class="row">
                <div class="col-12 col-lg-6">
                  <h2>Come creare una partita</h2>
                  <ol>
                    <li>Clicca su <em>Crea partita</em></li>
                    <li>Scegli il numero di giocatori (da 2 a 6)</li>
                    <li>Scegli il tuo nome e conferma</li>
                    <li>Comunica agli altri giocatori il codice a 5 cifre che appare sullo schermo e attendi!</li>
                  </ol>
                </div>
                <div class="col-12 col-lg-6">
                  <h2>Come entrare in una partita</h2>
                  <ol>
                    <li>Ottieni il codice di 5 cifre dal creatore della partita</li>
                    <li>Clicca su <em>Unisciti a una partita</em></li>
                    <li>Inserisci il codice partita e scegli un nome</li>
                  </ol>
                </div>
              </div>
            </div>
            <div class="section">
              <h2>Regole del gioco</h2>
              <p>
                Il primo giocatore sceglie con quale carta iniziare il giro selezionandola dal menu
                <em>Quale carta annunci?</em>, poi sceglie una o più carte da mettere giù.
              </p>
              <p>
                Durante il tuo turno, dovrai mettere giù una o più carte del tipo selezionato dal primo giocatore.
                <strong>Ricorda che puoi mentire</strong> e mettere giù qualsiasi carta!
              </p>
              <p>
                Un giocatore può <strong>dubitare</strong> dell'ultimo che ha messo giù carte. Cliccando su <em>Dubito!</em>
                vengono scoperte le ultime carte messe giù. Se il giocatore precedente aveva mentito, riprenderà tutte le carte che sono giù,
                altrimenti sarà colui che ha dubitato a riprenderle. Il gioco ricomincia da chi dei due ha vinto lo scontro.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Feedback modal -->
    <div class="modal" id="feedbackModal" tabindex="-1" role="dialog" aria-labelledby="feedbackModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered to modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header modal-padded">
            <h1 class="modal-title" id="joinModalLabel">Contattaci</h1>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body modal-padded text-center">
            <div id="sendFeedback">
              <p>Hai trovato un bug nel gioco, oppure vuoi lasciare un feedback? Sei nel posto giusto!</p>
              <form action="/game/feedback" method="post">
                  {% csrf_token %}
                  <h3 class="required">Il tuo nome</h3>
                  <p>
                    {{ feedback_form.sender_name }}
                  </p>
                  <h3 style="margin-bottom: 0">Indirizzo email</h3>
                  <p class="emailNotice">(opzionale, se vuoi essere ricontattato)</p>
                  <p>
                    {{ feedback_form.email }}
                  </p>
                  <h3 class="required">Messaggio</h3>
                  <p>
                    {{ feedback_form.message }}
                  </p>
                  <input onclick="feedbackSubmit(event)" class="btn btn-red" type="submit" value="Invia">
              </form>
            </div>
            <div id="feedbackReceived">
              <h1 class="success">Il tuo messaggio è stato registrato con successo. Grazie!</h1>
              <button class="btn btn-red" data-dismiss="modal" aria-label="Close">
                Chiudi
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      const gameurl = "{% url 'game' 0 %}".slice(0,-2)
      //$('#pincode').pincodeInput({inputs:5});
    </script>
  </body>
</html>
